/* Classes */

h1{
  color: red;font-size: 10rem;
}


/* Manual classes */
.crop {
 height: 600px;
 width: 100%;
 overflow: hidden;
}

.features{
  padding: 5% 15%;
  background-color: white;
  position: relative;
  z-index: 1;
}

.icon{
  color:#d72323;
  font-size: 5rem;
  margin:5% 15%;
}
.icon:hover{
  color: #17b978;
}
.feature-heading{
  font-size: 1.5rem;
}

/* Ids */

#title{
   font-size: 3rem;
}

#demo{
  padding-top:10px;
}
