/* HTML elements */
body{
  text-align: center;
}
h1{
  font-size: 5rem;
  color: purple;
}

/* HTML classes */
.foo{
  color: #17b978
  font-size: 2rem;
  padding: 2%;
  text-align: center;
  font-size: 2rem;
  /* line-height: 1.5; */
  font-family: "Montserrat-Black";
}
.foo:hover{
  color: red;
}
.about{
  font-size: 3rem;
  color: Green;
}
.crop2 {
 height: 400px;
 width: 100%;
 /* overflow: hidden; */
}
/* HTML Ids */
#footer{
  background-color: white;
  padding: 7% 20%;
  /* padding-bottom: 4%;
  padding-right: 100px;
  padding-left: 650px; */
}

#container {
  width: 600px;
  height: auto;
}

.row {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #AFAFAF;
}

.name {
  position: relative;
  display: inline-block;
  width: 75%;
  line-height: 45px;
}

.score {
  position: relative;
  display: inline-block;
  width: 25%;
}

.row:nth-child(1) {
  background: gold;
}

.row:nth-child(2) {
  background: #c0c0c0;
}

.row:nth-child(3) {
  background: #cd7f32;
}