{% extends 'base.html' %}

{% block title %}Feedback Form{% endblock %}

{% block body %}



<section class="hero is-primary">
        <div class="hero-body">
          <div style="width: 10%;">
           <a href="/"> <img src="/static/images/logo.png" alt="Logo" style="width: 110px">
           </a>
          </div>
            <div class="container">
        <div class="column is-offset-0 is-6">
          <h2 class="title" style="font-size: 4rem;color: red;">
            Feedback Forum
          </h2 >
        </div>
            </div>
        </div>
  </section>



<div class="container">
  <!-- <h2 style="font-size: 5rem;color: red;">Welcome to Tournament Registration</h2> -->

  <!-- <form action="{% url 'Feedback:save_feed' %}" method="post"> -->
  <form method = "post" class="feedback">
    {% csrf_token %} 
    {% for field in form %}
    <div class="row">
       <div class="col-md-2">    
        {{ field.label_tag }}
        {% if field.help_text %}
          <sup>{{ field.help_text }}</sup>
        {% endif %}
        {{ field.errors }}
       </div><div class="col-md-20 pull-left">
         {{ field }}
       </div>
    </div>
   {% endfor %}

    <input type="submit" value="Submit" class="btn btn-success">
  </form>
  <!-- <div class="form-group">
    <label>Your_Name</label>
    {{form.name}}
  </div>
  <div class="form-group">
    <label >Event</label>
    {{form.event_name}}
  </div>
  <div class="form-group">
    <label >Email</label>
    {{form.email}}
  </div>
  <div class="form-group">
    <label >Details</label>
    {{form.details}}
  </div>
  <div class="form-group">
    <label >Happy</label>
    {{form.happy}}
  </div> -->
  <!-- <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Happy</label>
    {{form.happy}}
  </div> -->
    
</form>
    <!-- {{form.as_p}} -->
</div>


<hr>


{% endblock %}
