{% extends 'base.html' %}

{% block title %} Candidate Registration {% endblock %}

{% block body %}

<section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
        <div class="column is-offset-0 is-12">
          <h2 class="title" style="font-size: 4rem;color: red;">
            Welcome To Tournaments Registrations
          </h2>
        </div>
            </div>
        </div>
  </section>


<div class="container">
  <!-- <h2 style="font-size: 5rem;color: red;">Welcome to Tournament Registration</h2> -->

  <form action="{% url 'addUser' %}" method="post">
    {% csrf_token %} 
  <div class="form-group">
    <label >Player Name</label>
    {{form.username}}
  </div>
  <div class="form-group">
    <label >Sport Name</label>
    {{form.sportname}}
  </div>
  <div class="form-group">
    <label >Tournament Id</label>
    {{form.tournamentid}}
  </div>
  <div class="form-group">
    <label >Phone Number</label>
    {{form.phone}}
  </div>
  <div class="form-group">
    <label >Email address</label>
    {{form.email}}
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">All Done</label>
  </div>
    <input type="submit" name="" value="Register" class="btn btn-success">
</form>
    <!-- {{form.as_p}} -->
</div>

{% endblock %}
